/* Login.module.css */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertical centering */
    align-items: center; /* Horizontal centering */
    height: 100vh; /* Full viewport height */
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .login-heading {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px; /* Space between heading and form */
  }
  
  .label {
    color: #fff;
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background-color: #222;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .button {
    background-color: #ff00ff;
    color: #111;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #ff55ff;
  }
  
  .error-message {
    color: #ff0000;
    margin-top: 10px;
    text-shadow: none;
  }
  